#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

video::-webkit-media-controls-pip-button,
video::-webkit-media-controls-enclosure,
video::-webkit-media-controls-overlay-enclosure {
  display: none !important;
}

body,
html {
  background-size: cover;
  background-position: top center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  user-select: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 5px #d5d4d4b9);
}

a {
  text-shadow: 0 0 7px #c8c7c7ad;
}

header {
  user-select: none;
  color: #d0d0d0;
  display: flex;
  align-items: center;

  padding: 35px 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.5s ease-in-out;
}

header:hover {
  opacity: 1;
  transform: translateY(0);
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: top center;
  filter: blur(10px);
  z-index: -1;
}

/* Home-Buttom */

.back-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: rgba(108, 107, 107, 0.3);
  width: fit-content;
  height: auto;
  border-radius: 10px;
  margin-left: 3.82vw;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  gap: 5px;
  cursor: pointer;
  filter: none;
  text-shadow: none;
}

.back-text {
  color: #d0d0d0;
  font-family: "Lexend Giga", serif;
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 17px;
  transition: transform 0.3s ease;
}

.home-icon {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  filter: none;
}

.back-button:hover {
  transform: scale(1.1);
}

/* About Buttom */

.about-button {
  display: flex;
  position: fixed;
  align-items: center;
  text-decoration: none;
  background-color: rgba(108, 107, 107, 0.3);
  width: fit-content;
  height: auto;
  border-radius: 10px;
  right: 5.9vw;
  padding: 5px 10px;
  transition: transform 0.3s ease;
  gap: 5px;
  cursor: pointer;
  filter: none;
  text-shadow: none;
}

.about-b-text {
  color: #d0d0d0;
  font-family: "Lexend Giga", serif;
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 17px;
  transition: transform 0.3s ease;
}

.about-icon {
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  filter: none;
}

.about-button:hover {
  transform: scale(1.1);
}

.about-square {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 5;
  text-shadow: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 10000vw;
  height: 10000vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

.square-content {
  position: relative;
  background-color: rgba(35, 35, 35, 0.92);
  border-radius: 15px;
  border: 2px solid #4d4d4ddb;
  padding: 20px 40px;
  max-width: 700px;
  height: 500px;
  overflow-y: auto;
  margin-top: 700px;
  color: #c7c7c7;
  font-family: "Raleway", monospace;
  font-weight: 300;
  z-index: 20;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: justify;
}

.square-content::-webkit-scrollbar {
  display: none;
}

.square-content li {
  margin-top: 15px;
}

.close-square {
  position: absolute;
  top: 10px;
  right: 12px;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  font-family: "Lexend Giga", serif;
  font-weight: 700;
  z-index: 30;
}

.close-square:hover {
  background-color: darkred;
}

#license {
  color: rgb(38, 94, 110);
  text-shadow: none;
}

/* Center Text */

.title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  overflow: visible;
}

.title-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.title-icon {
  width: 75px;
  height: 75px;
  margin-left: 73%;
  position: relative;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.hover-text {
  font-weight: bold;
  font-size: 40px;
  color: #d0d0d0;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.title-link:hover .title-icon {
  transform: translateX(-120px);
}

.title-link:hover .hover-text {
  opacity: 1;
  transform: translateX(-100px);
}

#detach-button-host {
  visibility: hidden;
}

/* Content */

.content {
  width: 80vw;
  max-width: 1200px;
  height: 170vh;
  border-radius: 20px;
  background-color: rgba(48, 48, 48, 0);
  position: relative;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  gap: 50px;
}

.content hr {
  width: 20%;
  margin-left: 20px;
  border-radius: 10px;
  border: 2px solid #d0d0d0;
}

.part1,
.part2,
.part3 {
  width: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 20px;
  border: 1px solid rgba(71, 70, 70, 0.1);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
}

.part1 {
  height: 350px;
  background: linear-gradient(135deg, rgba(30, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(110, 43, 43, 0.1);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
}

.part2 {
  height: 300px;
  background: linear-gradient(135deg, rgba(30, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(110, 43, 43, 0.1);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
  margin-top: 440px;
}

.part3 {
  height: 240px;
  background: linear-gradient(135deg, rgba(30, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1px solid rgba(110, 43, 43, 0.1);
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
  margin-top: 830px;
}

.part1 p,
.part2 p,
.part3 p {
  color: white;
  text-align: center;
}

.part1 h2,
.part2 h2,
.part3 h2 {
  color: white;
  margin-left: 20px;
  text-shadow: 0 0 5px #c8c7c7ad;
}

.esquerda1,
.direita1 {
  width: 50%;
  position: fixed;
  height: 75%;
  border-radius: 0 0 20px 20px;
  background-color: rgba(108, 107, 107, 0); /* Debug */
}

.esquerda1 p,
.direita1 p {
  text-align: left;
  margin-left: 25px;
}

.direita1 {
  margin-left: 49.5%;
}

.content table {
  color: #d0d0d0;
  margin-left: 25px;
  margin-top: 20px;
}

.content td {
  font-size: 17px;
  font-family: "Lexend Giga", serif;
  font-weight: 200;
  text-align: left;
  color: rgb(177, 176, 176);
}

#title-d {
  margin-top: -7vh;
}

#hr-d {
  margin-top: -1vh;
  width: 40%;
}

.downloads {
  display: flex;
  gap: 10px;
  align-items: left;
  margin-left: 20px;
  margin-top: 15px;
}

.downloads p {
  color: #d0d0d0c0;
  text-align: left;
  margin-left: 1px;
  margin-top: 4px;
  margin-bottom: 1px;
}

.view-code {
  max-width: 150px;
  display: flex;
  align-items: center;
  background: #686969ae;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  gap: 10px;
  text-decoration: none;
}

.download-icon {
  width: 20px;
  height: 20px;
}

.download-btn {
  max-width: 150px;
  display: flex;
  align-items: center;
  background: #686969ae;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  gap: 10px;
  text-decoration: none;
}
